# Load the dotenv file for local development
if [ -f ".env.local" ]; then
  dotenv ".env.local"
fi

# Load the dotenv file for OpenTelemetry services
if [ -f ".env.otel" ]; then
  dotenv ".env.otel"
fi